.custom-button{
    width: 300px;
    height: 40px;
    font-size: 1.3rem;
    color: white;
    background: rgba($color: #e3272b, $alpha: 0.8);
    border: none;
    outline: none;
    font-weight: bold;
    &:active{
        background: rgba($color: #e3272b, $alpha: 1.0);
    }
}